/*M!999999\- enable the sandbox mode */ 
-- MariaDB dump 10.19-12.1.2-MariaDB, for debian-linux-gnu (x86_64)
--
-- Host: localhost    Database: waste_bank
-- ------------------------------------------------------
-- Server version	12.1.2-MariaDB-ubu2404

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*M!100616 SET @OLD_NOTE_VERBOSITY=@@NOTE_VERBOSITY, NOTE_VERBOSITY=0 */;

--
-- Table structure for table `badge`
--

DROP TABLE IF EXISTS `badge`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `badge` (
  `badge_id` int(11) NOT NULL AUTO_INCREMENT,
  `badge_name` varchar(100) NOT NULL,
  `badge_description` text DEFAULT NULL,
  `badge_condition` text DEFAULT NULL COMMENT 'α╣Çα╕èα╣êα╕Ö "α╕¬α╕░α╕¬α╕íα╕éα╕óα╕░ 100 kg" α╕½α╕úα╕╖α╕¡ JSON α╕¬α╕│α╕½α╕úα╕▒α╕Ü logic',
  `badge_image` varchar(255) DEFAULT NULL,
  `badge_type` varchar(20) DEFAULT NULL COMMENT 'waste, goodness, overall',
  PRIMARY KEY (`badge_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `badge`
--

LOCK TABLES `badge` WRITE;
/*!40000 ALTER TABLE `badge` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `badge` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `clearance_detail`
--

DROP TABLE IF EXISTS `clearance_detail`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `clearance_detail` (
  `clearance_detail_id` int(11) NOT NULL AUTO_INCREMENT,
  `waste_clearance_id` int(11) NOT NULL,
  `waste_type_id` int(11) NOT NULL,
  `clearance_detail_transaction_weight` decimal(7,2) NOT NULL,
  `clearance_detail_clearance_weight` decimal(7,2) DEFAULT NULL,
  `clearance_detail_success` tinyint(4) NOT NULL DEFAULT 0,
  `complete_date` datetime DEFAULT NULL,
  PRIMARY KEY (`clearance_detail_id`),
  KEY `fk_clearance_detail_clearance_idx` (`waste_clearance_id`),
  KEY `fk_clearance_detail_waste_type_idx` (`waste_type_id`),
  CONSTRAINT `fk_clearance_detail_clearance` FOREIGN KEY (`waste_clearance_id`) REFERENCES `waste_clearance` (`waste_clearance_id`),
  CONSTRAINT `fk_clearance_detail_waste_type` FOREIGN KEY (`waste_type_id`) REFERENCES `waste_type` (`waste_type_id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `clearance_detail`
--

LOCK TABLES `clearance_detail` WRITE;
/*!40000 ALTER TABLE `clearance_detail` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `clearance_detail` VALUES
(1,3,1,14.23,NULL,0,NULL),
(2,3,6,8.44,NULL,0,NULL),
(3,4,4,8.63,NULL,0,NULL),
(4,6,5,1.65,NULL,0,NULL),
(5,6,7,10.36,NULL,0,NULL),
(6,7,4,6.44,NULL,0,NULL),
(7,7,8,4.14,NULL,0,NULL),
(8,7,9,2.76,NULL,0,NULL);
/*!40000 ALTER TABLE `clearance_detail` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `donation`
--

DROP TABLE IF EXISTS `donation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `donation` (
  `donation_id` int(11) NOT NULL AUTO_INCREMENT,
  `member_id` int(11) DEFAULT NULL COMMENT 'α╕½α╕úα╕╖α╕¡ external α╕ûα╣ëα╕▓α╣äα╕íα╣êα╣âα╕èα╣ê member',
  `faculty_id` int(11) DEFAULT NULL COMMENT 'α╕ûα╣ëα╕▓α╕Üα╕úα╕┤α╕êα╕▓α╕äα╣âα╕½α╣ëα╕äα╕ôα╕░',
  `donation_description` text DEFAULT NULL,
  `donation_estimated_value` decimal(10,2) DEFAULT NULL COMMENT 'α╕íα╕╣α╕Ñα╕äα╣êα╕▓α╕¢α╕úα╕░α╕íα╕▓α╕ô (1 point Γëê 1 α╕Üα╕▓α╕ù)',
  `donation_goodness_point` int(11) DEFAULT NULL COMMENT 'α╣üα╕òα╣ëα╕íα╕äα╕ºα╕▓α╕íα╕öα╕╡α╣âα╕½α╣ë donor',
  `donation_reason` text DEFAULT NULL COMMENT 'α╣Çα╕½α╕òα╕╕α╕£α╕Ñα╕ûα╣ëα╕▓α╕₧α╕┤α╣Çα╕¿α╕⌐',
  `donation_date` date DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`donation_id`),
  KEY `fk_donation_member_id` (`member_id`),
  KEY `fk_donation_faculty_id` (`faculty_id`),
  CONSTRAINT `fk_donation_faculty_id` FOREIGN KEY (`faculty_id`) REFERENCES `faculty` (`faculty_id`),
  CONSTRAINT `fk_donation_member_id` FOREIGN KEY (`member_id`) REFERENCES `member` (`member_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `donation`
--

LOCK TABLES `donation` WRITE;
/*!40000 ALTER TABLE `donation` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `donation` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `faculty`
--

DROP TABLE IF EXISTS `faculty`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `faculty` (
  `faculty_id` int(11) NOT NULL AUTO_INCREMENT,
  `faculty_name` varchar(100) NOT NULL,
  `faculty_code` varchar(20) DEFAULT NULL COMMENT 'α╣Çα╕èα╣êα╕Ö ENG, SCI',
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`faculty_id`),
  UNIQUE KEY `faculty_name_UNIQUE` (`faculty_name`),
  UNIQUE KEY `faculty_code_UNIQUE` (`faculty_code`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `faculty`
--

LOCK TABLES `faculty` WRITE;
/*!40000 ALTER TABLE `faculty` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `faculty` VALUES
(1,'α╕ºα╕┤α╕ùα╕óα╕▓α╕¿α╕▓α╕¬α╕òα╕úα╣î','FS','2025-12-27 20:26:14','2025-12-28 02:12:44'),
(2,'α╕äα╕úα╕╕α╕¿α╕▓α╕¬α╕òα╕úα╣î','FE','2025-12-28 02:12:44','2025-12-28 02:12:44'),
(4,'α╣Çα╕ùα╕äα╣éα╕Öα╣éα╕Ñα╕óα╕╡α╕¡α╕╕α╕òα╕¬α╕▓α╕½α╕üα╕úα╕úα╕í','FIT','2025-12-28 21:33:43',NULL),
(5,'α╣Çα╕ùα╕äα╣éα╕Öα╣éα╕Ñα╕óα╕╡α╕üα╕▓α╕úα╣Çα╕üα╕⌐α╕òα╕ú','FAT','2025-12-28 21:51:49','2025-12-28 22:17:00');
/*!40000 ALTER TABLE `faculty` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `faculty_point`
--

DROP TABLE IF EXISTS `faculty_point`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `faculty_point` (
  `faculty_point_id` int(11) NOT NULL AUTO_INCREMENT,
  `faculty_id` int(11) DEFAULT NULL,
  `faculty_point_amount` decimal(10,4) DEFAULT NULL,
  `faculty_point_source` varchar(50) DEFAULT NULL COMMENT 'fraction α╕êα╕▓α╕ü member, donation',
  `faculty_point_date` date DEFAULT NULL,
  `created_at` datetime DEFAULT NULL,
  PRIMARY KEY (`faculty_point_id`),
  KEY `fk_faculty_point_faculty_id` (`faculty_id`),
  CONSTRAINT `fk_faculty_point_faculty_id` FOREIGN KEY (`faculty_id`) REFERENCES `faculty` (`faculty_id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `faculty_point`
--

LOCK TABLES `faculty_point` WRITE;
/*!40000 ALTER TABLE `faculty_point` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `faculty_point` VALUES
(1,1,0.8000,'member','2025-12-29','2025-12-29 12:27:22'),
(2,2,0.6500,'member','2025-12-30','2025-12-30 12:31:33'),
(3,2,0.3240,'member','2025-12-30','2025-12-30 12:33:22'),
(4,1,0.4600,'member','2025-12-30','2025-12-30 13:12:11'),
(6,1,0.4600,'member','2026-01-01','2026-01-01 01:08:33'),
(7,1,0.3760,'member','2026-01-01','2026-01-01 01:13:18'),
(8,4,0.2800,'member','2026-01-08','2026-01-08 01:10:58'),
(9,4,0.0400,'member','2026-01-08','2026-01-08 01:16:52'),
(10,4,0.8800,'member','2026-01-08','2026-01-08 01:35:46');
/*!40000 ALTER TABLE `faculty_point` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `major`
--

DROP TABLE IF EXISTS `major`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `major` (
  `major_id` int(11) NOT NULL AUTO_INCREMENT,
  `major_name` varchar(100) NOT NULL,
  `major_name_en` varchar(100) DEFAULT NULL,
  `faculty_id` int(11) DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`major_id`),
  KEY `faculty_id` (`faculty_id`),
  CONSTRAINT `1` FOREIGN KEY (`faculty_id`) REFERENCES `faculty` (`faculty_id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `major`
--

LOCK TABLES `major` WRITE;
/*!40000 ALTER TABLE `major` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `major` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `member`
--

DROP TABLE IF EXISTS `member`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `member` (
  `member_id` int(11) NOT NULL AUTO_INCREMENT,
  `member_personal_id` varchar(20) DEFAULT NULL COMMENT 'α╕úα╕½α╕▒α╕¬α╕Öα╕▒α╕üα╕¿α╕╢α╕üα╕⌐α╕▓/α╕¡α╕▓α╕êα╕▓α╕úα╕óα╣î',
  `member_name` varchar(100) DEFAULT NULL,
  `member_phone` varchar(20) NOT NULL COMMENT 'α╣âα╕èα╣ëα╣Çα╕¢α╣çα╕Ö username',
  `member_password` varchar(255) NOT NULL COMMENT 'hashed',
  `member_email` varchar(100) DEFAULT NULL,
  `faculty_id` int(11) DEFAULT NULL,
  `major_id` int(11) DEFAULT NULL,
  `role_id` int(11) NOT NULL,
  `member_waste_point` decimal(10,2) DEFAULT 0.00 COMMENT 'α╣üα╕òα╣ëα╕íα╕éα╕óα╕░ (α╕êα╕│α╕Öα╕ºα╕Öα╣Çα╕òα╣çα╕íα╕êα╕úα╕┤α╕çα╣å α╣üα╕òα╣êα╣âα╕èα╣ë decimal α╣Çα╕£α╕╖α╣êα╕¡)',
  `member_goodness_point` decimal(10,2) DEFAULT 0.00 COMMENT 'α╣üα╕òα╣ëα╕íα╕äα╕ºα╕▓α╕íα╕öα╕╡',
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`member_id`),
  UNIQUE KEY `member_phone_UNIQUE` (`member_phone`),
  UNIQUE KEY `member_student_id` (`member_personal_id`),
  UNIQUE KEY `member_name_UNIQUE` (`member_name`),
  UNIQUE KEY `member_email_UNIQUE` (`member_email`),
  KEY `fk_member_faculty_id` (`faculty_id`),
  KEY `fk_member_role_id` (`role_id`),
  CONSTRAINT `fk_member_faculty_id` FOREIGN KEY (`faculty_id`) REFERENCES `faculty` (`faculty_id`),
  CONSTRAINT `fk_member_role_id` FOREIGN KEY (`role_id`) REFERENCES `role` (`role_id`)
) ENGINE=InnoDB AUTO_INCREMENT=46 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `member`
--

LOCK TABLES `member` WRITE;
/*!40000 ALTER TABLE `member` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `member` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `member_badge`
--

DROP TABLE IF EXISTS `member_badge`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `member_badge` (
  `member_badge_id` int(11) NOT NULL AUTO_INCREMENT,
  `member_id` int(11) DEFAULT NULL,
  `badge_id` int(11) DEFAULT NULL,
  `member_badge_date` date DEFAULT NULL,
  PRIMARY KEY (`member_badge_id`),
  UNIQUE KEY `unique_idx_member_badge` (`member_id`,`badge_id`),
  KEY `fk_member_badge_badge_id` (`badge_id`),
  CONSTRAINT `fk_member_badge_badge_id` FOREIGN KEY (`badge_id`) REFERENCES `badge` (`badge_id`),
  CONSTRAINT `fk_member_badge_member_id` FOREIGN KEY (`member_id`) REFERENCES `member` (`member_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `member_badge`
--

LOCK TABLES `member_badge` WRITE;
/*!40000 ALTER TABLE `member_badge` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `member_badge` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `member_reward`
--

DROP TABLE IF EXISTS `member_reward`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `member_reward` (
  `member_reward_id` int(11) NOT NULL AUTO_INCREMENT,
  `member_id` int(11) DEFAULT NULL,
  `reward_id` int(11) DEFAULT NULL,
  `member_reward_date` date DEFAULT NULL,
  `member_reward_qty` int(11) DEFAULT 1,
  `member_reward_point_used` int(11) DEFAULT NULL,
  `member_reward_status` varchar(20) DEFAULT 'pending' COMMENT 'pending, received, cancelled',
  PRIMARY KEY (`member_reward_id`),
  KEY `fk_member_reward_member_id` (`member_id`),
  KEY `fk_member_reward_reward_id` (`reward_id`),
  CONSTRAINT `fk_member_reward_member_id` FOREIGN KEY (`member_id`) REFERENCES `member` (`member_id`),
  CONSTRAINT `fk_member_reward_reward_id` FOREIGN KEY (`reward_id`) REFERENCES `reward` (`reward_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `member_reward`
--

LOCK TABLES `member_reward` WRITE;
/*!40000 ALTER TABLE `member_reward` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `member_reward` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `reward`
--

DROP TABLE IF EXISTS `reward`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `reward` (
  `reward_id` int(11) NOT NULL AUTO_INCREMENT,
  `reward_name` varchar(100) NOT NULL,
  `reward_description` text DEFAULT NULL,
  `reward_point_required` int(11) DEFAULT NULL,
  `reward_stock` int(11) DEFAULT 0,
  `reward_image` varchar(255) DEFAULT NULL,
  `reward_active` tinyint(1) DEFAULT 1,
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`reward_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reward`
--

LOCK TABLES `reward` WRITE;
/*!40000 ALTER TABLE `reward` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `reward` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `role`
--

DROP TABLE IF EXISTS `role`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `role` (
  `role_id` int(11) NOT NULL AUTO_INCREMENT,
  `role_name` varchar(50) NOT NULL COMMENT 'α╣Çα╕èα╣êα╕Ö member, faculty_staff, central_admin',
  `role_name_th` varchar(50) NOT NULL,
  PRIMARY KEY (`role_id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `role`
--

LOCK TABLES `role` WRITE;
/*!40000 ALTER TABLE `role` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `role` VALUES
(1,'admin','α╕£α╕╣α╣ëα╕öα╕╣α╣üα╕Ñα╕úα╕░α╕Üα╕Ü'),
(2,'user','α╕£α╕╣α╣ëα╣âα╕èα╣ëα╕çα╕▓α╕Öα╕ùα╕▒α╣êα╕ºα╣äα╕¢');
/*!40000 ALTER TABLE `role` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `system_log`
--

DROP TABLE IF EXISTS `system_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `system_log` (
  `system_log_id` int(11) NOT NULL AUTO_INCREMENT,
  `system_log_member_id` int(11) DEFAULT NULL,
  `system_log_action` varchar(100) DEFAULT NULL,
  `system_log_detail` text DEFAULT NULL,
  `system_log_timestamp` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`system_log_id`),
  KEY `fk_system_log_member_id` (`system_log_member_id`),
  CONSTRAINT `fk_system_log_member_id` FOREIGN KEY (`system_log_member_id`) REFERENCES `member` (`member_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `system_log`
--

LOCK TABLES `system_log` WRITE;
/*!40000 ALTER TABLE `system_log` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `system_log` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `waste_category`
--

DROP TABLE IF EXISTS `waste_category`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `waste_category` (
  `waste_category_id` int(11) NOT NULL AUTO_INCREMENT,
  `waste_category_name` varchar(50) NOT NULL COMMENT 'α╣Çα╕èα╣êα╕Ö plastic, paper, metal',
  `waste_category_co2_per_kg` decimal(10,4) DEFAULT NULL COMMENT 'α╕äα╣êα╕▓ COΓéée α╕Ñα╕öα╣äα╕öα╣ëα╕òα╣êα╕¡ kg (α╕¬α╕│α╕½α╕úα╕▒α╕Ü carbon impact)',
  `waste_category_active` tinyint(1) DEFAULT 1,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`waste_category_id`),
  UNIQUE KEY `waste_category_name_UNIQUE` (`waste_category_name`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `waste_category`
--

LOCK TABLES `waste_category` WRITE;
/*!40000 ALTER TABLE `waste_category` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `waste_category` VALUES
(2,'α╕éα╕ºα╕öα╕₧α╕Ñα╕▓α╕¬α╕òα╕┤α╕ü',0.6300,1,'2025-12-28 23:44:28'),
(3,'α╕üα╕úα╕░α╕öα╕▓α╕⌐',0.8300,1,'2025-12-28 23:46:12'),
(4,'α╕éα╕ºα╕öα╣üα╕üα╣ëα╕º',0.2800,1,'2025-12-28 23:48:13'),
(10,'α╣éα╕Ñα╕½α╕░',8.1420,1,'2025-12-29 03:18:16'),
(11,'α╕₧α╕Ñα╕▓α╕¬α╕òα╕┤α╕ü',1.5000,1,'2026-01-01 03:25:34');
/*!40000 ALTER TABLE `waste_category` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `waste_clearance`
--

DROP TABLE IF EXISTS `waste_clearance`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `waste_clearance` (
  `waste_clearance_id` int(11) NOT NULL AUTO_INCREMENT,
  `faculty_id` int(11) NOT NULL,
  `waste_clearance_period_start` date DEFAULT NULL,
  `waste_clearance_period_end` date DEFAULT NULL,
  `waste_clearance_value_total` decimal(12,2) DEFAULT NULL COMMENT 'α╕íα╕╣α╕Ñα╕äα╣êα╕▓α╕éα╕óα╕░α╕úα╕ºα╕í',
  `waste_clearance_member_point_total` int(11) DEFAULT NULL,
  `waste_clearance_faculty_point_total` decimal(12,2) DEFAULT NULL COMMENT 'α╣âα╕½α╣ëα╕äα╕ôα╕░',
  `waste_clearance_status` enum('α╕úα╕¡α╕üα╕▓α╕úα╕óα╕╖α╕Öα╕óα╕▒α╕Ö','α╕óα╕╖α╕Öα╕óα╕▒α╕Öα╣üα╕Ñα╣ëα╕º') DEFAULT 'α╕úα╕¡α╕üα╕▓α╕úα╕óα╕╖α╕Öα╕óα╕▒α╕Ö' COMMENT 'α╕¬α╕ûα╕▓α╕Öα╕░α╕üα╕▓α╕úα╣Çα╕äα╕Ñα╕╡α╕óα╕úα╣îα╕óα╕¡α╕ö α╕½α╕Ñα╕▒α╕çα╣Çα╕¢α╕┤α╕öα╕úα╕▓α╕óα╕üα╕▓α╕úα╣Çα╕äα╕Ñα╕╡α╕óα╕úα╣îα╕êα╕░α╕òα╣ëα╕¡α╕çα╕óα╕╖α╕Öα╕óα╕▒α╕Öα╕éα╕óα╕░α╣üα╕òα╣êα╕Ñα╕░α╕èα╕Öα╕┤α╕öα╕ºα╣êα╕▓α╕íα╕╡α╕êα╕│α╕Öα╕ºα╕Öα╕äα╕úα╕Üα╕òα╕▓α╕í transaction α╣äα╕½α╕í',
  `waste_clearance_created_by` int(11) NOT NULL COMMENT 'α╣Çα╕êα╣ëα╕▓α╕½α╕Öα╣ëα╕▓α╕ùα╕╡α╣êα╕ùα╕╡α╣êα╕ùα╕│α╕üα╕▓α╕úα╕¬α╕úα╣ëα╕▓α╕çα╕úα╕▓α╕óα╕üα╕▓α╕úα╣Çα╕äα╕Ñα╕╡α╕óα╕úα╣îα╕óα╕¡α╕öα╕Öα╕╡α╣ë',
  `waste_clearance_approved_by` int(11) DEFAULT NULL COMMENT 'α╣Çα╕êα╣ëα╕▓α╕½α╕Öα╣ëα╕▓α╕ùα╕╡α╣êα╕ùα╕╡α╣êα╕ùα╕│α╕üα╕▓α╕úα╕¡α╕Öα╕╕α╕íα╕▒α╕òα╕┤α╕úα╕▓α╕óα╕üα╕▓α╕úα╣Çα╕äα╕Ñα╕╡α╕óα╕úα╣î',
  `created_at` datetime DEFAULT NULL,
  `approved_at` datetime DEFAULT NULL,
  PRIMARY KEY (`waste_clearance_id`),
  KEY `fk_waste_clearance_faculty` (`faculty_id`),
  KEY `fk_waste_clearance_started_by_idx` (`waste_clearance_created_by`),
  KEY `fk_waste_clearance_approved_by` (`waste_clearance_approved_by`),
  CONSTRAINT `fk_waste_clearance_approved_by` FOREIGN KEY (`waste_clearance_approved_by`) REFERENCES `member` (`member_id`),
  CONSTRAINT `fk_waste_clearance_faculty` FOREIGN KEY (`faculty_id`) REFERENCES `faculty` (`faculty_id`),
  CONSTRAINT `fk_waste_clearance_started_by` FOREIGN KEY (`waste_clearance_created_by`) REFERENCES `member` (`member_id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `waste_clearance`
--

LOCK TABLES `waste_clearance` WRITE;
/*!40000 ALTER TABLE `waste_clearance` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `waste_clearance` VALUES
(3,1,'2026-01-01','2026-01-01',31.84,31,0.84,'α╕úα╕¡α╕üα╕▓α╕úα╕óα╕╖α╕Öα╕óα╕▒α╕Ö',1,NULL,'2026-01-05 20:16:05',NULL),
(4,1,'2025-12-01','2025-12-30',17.26,16,1.26,'α╕úα╕¡α╕üα╕▓α╕úα╕óα╕╖α╕Öα╕óα╕▒α╕Ö',1,NULL,'2026-01-05 21:24:40',NULL),
(6,2,'2025-12-01','2025-12-30',10.97,10,0.97,'α╕úα╕¡α╕üα╕▓α╕úα╕óα╕╖α╕Öα╕óα╕▒α╕Ö',1,NULL,'2026-01-05 21:36:15',NULL),
(7,4,'2026-01-08','2026-01-08',32.20,31,1.20,'α╕úα╕¡α╕üα╕▓α╕úα╕óα╕╖α╕Öα╕óα╕▒α╕Ö',1,NULL,'2026-01-08 02:26:01',NULL);
/*!40000 ALTER TABLE `waste_clearance` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `waste_sale`
--

DROP TABLE IF EXISTS `waste_sale`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `waste_sale` (
  `waste_sale_id` int(11) NOT NULL AUTO_INCREMENT,
  `waste_sale_type_id` int(11) DEFAULT NULL,
  `waste_sale_weight` decimal(10,3) DEFAULT NULL,
  `waste_sale_actual_price` decimal(12,2) DEFAULT NULL,
  `waste_sale_buyer` varchar(100) DEFAULT NULL,
  `waste_sale_date` date DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`waste_sale_id`),
  KEY `fk_waste_sale_type_id` (`waste_sale_type_id`),
  CONSTRAINT `fk_waste_sale_type_id` FOREIGN KEY (`waste_sale_type_id`) REFERENCES `waste_category` (`waste_category_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `waste_sale`
--

LOCK TABLES `waste_sale` WRITE;
/*!40000 ALTER TABLE `waste_sale` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `waste_sale` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `waste_transaction`
--

DROP TABLE IF EXISTS `waste_transaction`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `waste_transaction` (
  `waste_transaction_id` int(11) NOT NULL AUTO_INCREMENT,
  `member_id` int(11) NOT NULL,
  `faculty_id` int(11) NOT NULL COMMENT 'α╕äα╕ôα╕░α╕ùα╕╡α╣êα╕úα╕▒α╕Ü',
  `staff_id` int(11) NOT NULL COMMENT 'α╣Çα╕êα╣ëα╕▓α╕½α╕Öα╣ëα╕▓α╕ùα╕╡α╣êα╕äα╕ôα╕░α╕ùα╕╡α╣êα╕Üα╕▒α╕Öα╕ùα╕╢α╕ü',
  `waste_transaction_waste_category` int(11) NOT NULL,
  `waste_transaction_waste_type` int(11) NOT NULL,
  `waste_transaction_rate` decimal(10,2) NOT NULL,
  `waste_transaction_weight` decimal(6,2) NOT NULL COMMENT 'α╕Öα╣ëα╕│α╕½α╕Öα╕▒α╕ü kg',
  `waste_transaction_member_point` int(11) NOT NULL COMMENT 'α╣üα╕òα╣ëα╕íα╣Çα╕òα╣çα╕íα╣âα╕½α╣ë member (α╕¢α╕▒α╕öα╣Çα╕¿α╕⌐α╕Ñα╕ç)',
  `waste_transaction_faculty_fraction` decimal(10,4) NOT NULL COMMENT 'α╣Çα╕¿α╕⌐α╕ùα╕¿α╕Öα╕┤α╕óα╕íα╕¬α╕░α╕¬α╕íα╣âα╕½α╣ëα╕äα╕ôα╕░',
  `waste_transaction_date` date NOT NULL,
  `waste_transaction_note` text DEFAULT NULL,
  `waste_transaction_status` enum('α╕¡α╕óα╕╣α╣êα╕ùα╕╡α╣êα╕äα╕Ñα╕▒α╕çα╕äα╕ôα╕░','α╣Çα╕òα╕úα╕╡α╕óα╕íα╕Öα╕│α╣Çα╕éα╣ëα╕▓α╕¿α╕╣α╕Öα╕óα╣îα╣âα╕½α╕ìα╣ê','α╕¡α╕óα╕╣α╣êα╕ùα╕╡α╣êα╕äα╕Ñα╕▒α╕çα╕¿α╕╣α╕Öα╕óα╣îα╣âα╕½α╕ìα╣ê','α╕êα╕│α╕½α╕Öα╣êα╕▓α╕óα╣üα╕Ñα╣ëα╕º') DEFAULT NULL,
  `waste_clearance_id` int(11) DEFAULT NULL,
  `created_at` datetime NOT NULL,
  PRIMARY KEY (`waste_transaction_id`),
  KEY `fk_waste_transaction_member_id` (`member_id`),
  KEY `fk_waste_transaction_faculty_id` (`faculty_id`),
  KEY `fk_waste_transaction_waste_type_id_idx` (`waste_transaction_waste_type`),
  KEY `fk_waste_transaction_staff_id` (`staff_id`),
  CONSTRAINT `fk_waste_transaction_faculty_id` FOREIGN KEY (`faculty_id`) REFERENCES `faculty` (`faculty_id`),
  CONSTRAINT `fk_waste_transaction_member_id` FOREIGN KEY (`member_id`) REFERENCES `member` (`member_id`),
  CONSTRAINT `fk_waste_transaction_staff_id` FOREIGN KEY (`staff_id`) REFERENCES `member` (`member_id`),
  CONSTRAINT `fk_waste_transaction_waste_type_id` FOREIGN KEY (`waste_transaction_waste_type`) REFERENCES `waste_type` (`waste_type_id`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `waste_transaction`
--

LOCK TABLES `waste_transaction` WRITE;
/*!40000 ALTER TABLE `waste_transaction` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `waste_transaction` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `waste_type`
--

DROP TABLE IF EXISTS `waste_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `waste_type` (
  `waste_type_id` int(11) NOT NULL AUTO_INCREMENT,
  `waste_type_name` varchar(50) NOT NULL COMMENT 'α╣Çα╕èα╣êα╕Ö plastic, paper, metal',
  `waste_type_price` decimal(10,2) NOT NULL COMMENT 'α╕úα╕▓α╕äα╕▓α╕òα╣êα╕¡α╕üα╕┤α╣éα╕Ñ (α╕òα╕▒α╣ëα╕çα╣éα╕öα╕ó central admin)',
  `waste_type_co2` decimal(10,4) NOT NULL COMMENT 'α╕äα╣êα╕▓ COΓéée α╕Ñα╕öα╣äα╕öα╣ëα╕òα╣êα╕¡ kg (α╕¬α╕│α╕½α╕úα╕▒α╕Ü carbon impact)',
  `waste_category_id` int(11) DEFAULT NULL,
  `waste_type_active` tinyint(1) DEFAULT 1,
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`waste_type_id`),
  UNIQUE KEY `waste_type_name_UNIQUE` (`waste_type_name`),
  KEY `fk_waste_type_category_id` (`waste_category_id`),
  CONSTRAINT `fk_waste_type_category_id` FOREIGN KEY (`waste_category_id`) REFERENCES `waste_category` (`waste_category_id`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `waste_type`
--

LOCK TABLES `waste_type` WRITE;
/*!40000 ALTER TABLE `waste_type` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `waste_type` ENABLE KEYS */;
UNLOCK TABLES;
commit;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*M!100616 SET NOTE_VERBOSITY=@OLD_NOTE_VERBOSITY */;

-- Dump completed on 2026-01-08 11:24:52
